<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path "cocktail-main-banner.jpg"%>');">
  <div class="banner-content">
    <h1>Fancy Cocktails</h1>
    <p>Cocktails recipes on the fly</p>
  </div>
</div>

<div class="container" id="main-page">
<div class="popular-title">
<h3>MOST</h3>
<h2>POPULAR</h2>
</div>
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-3">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill if cocktail.photo? %>);">
          <div class="card-description">
            <h2><%= link_to cocktail.name, cocktail_path(cocktail), class: "cocktail-name" %></h2>
          </div>
          <%= image_tag "lukecharny.jpg", class: "card-user avatar" %>
          <%= link_to cocktail.name, cocktail_path(cocktail), class: "card-link" %>
        </div>
      </div>
    <% end %>
  </div>
</div>


